.feature-icon{
    width: 4rem;
    height: 4rem;
    border-radius: 0.75rem;
   }

   .grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }

   .section2{
    grid-column-start: 3;

   }